:root {
  /* colours */
  --white: hsl(0 100% 100%);
  --black: hsl(0 0% 0%);
  --gray-600: hsl(224 23% 55%);
  --purple-500: hsl(245 83% 68%);
  --blue-50: hsl(225 100% 98%);
  --blue-100: hsl(225 100% 94%);
  --blue-150: hsl(224 100% 92%);
  --blue-700: hsl(245 75% 52%);
  --blue-950: hsl(223 47% 23%);

  /* semantic colours */
  --clr-bg-body: var(--blue-100);
  --clr-bg-card: var(--white);
  --clr-bg-accent: var(--blue-50);
  --clr-text-primary: var(--blue-950);
  --clr-text-secondary: var(--gray-600);
  --clr-link-primary: var(--blue-700);
  --clr-link-secondary: var(--gray-600);
  --clr-link-hover-primary: var(--purple-500);
  --clr-link-hover-secondary: var(--blue-950);
  --clr-btn-text: var(--white);
  --clr-btn-bg: var(--blue-700);
  --clr-btn-bg-hover: var(--purple-500);

  /* typography */
  --ff-sans: "Red Hat Display", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-sm: 0.9375rem; /* 15px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.375rem; /* 22px */
  --fs-xl: 1.75rem; /* 28px */
  --fs-fluid-sm: clamp(var(--fs-sm), 0.9196rem + 0.0893vw, var(--fs-base));
  --fs-fluid-lg: clamp(var(--fs-lg), 1.2679rem + 0.5357vw, var(--fs-xl));
  --lh-tight: 1.35;
  --lh-relaxed: 1.65;

  /* spacing */
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-600: 48px;

  /* border radius */
  --radius-sm: 11px;
  --radius-lg: 20px;

  /* box shadow */
  --shadow-card: 0 40px 40px -20px hsl(228 87% 39% / 0.1518);
  --shadow-accent: 0 4px 4px hsl(0 0% 0% / 0.25);
  --shadow-btn: 0 20px 20px hsl(245 75% 52% / 0.1903);
}

@font-face {
  font-family: "Red Hat Display";
  src: url("/fonts/RedHatDisplay-VariableFont.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-bg-body);
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--clr-text-primary);
  font-family: var(--ff-sans);
  font-size: var(--fs-fluid-sm);
  font-weight: var(--fw-medium);
  line-height: var(--lh-relaxed);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-300);
}

.card {
  max-width: 28.125rem;
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-card);
}

.card__image {
  height: auto;
  width: 100%;
}

@media (min-width: 37.5rem) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
  }
}
